@import "../../app.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;

  .bg {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  
    width: 200px;
    background-color: rgb(242, 235, 235);
    // height: 380px;

    @include mobile {
      width: 200px;
      height: 380px;
    }

    .links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      a {
        font-size: 30px;
        font-family: monospace;

        @include mobile {
          font-size: 20px;
        }
      }
    }
  }
  button {
    z-index: 999;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    left: 21px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @include mobile {
      width: 40px;
      height: 40px;
      top: 29px;
      left: 26px;
    }
  }
}
